<header class="landing">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
              <br><br><br><br>
              <a class="hireme btn btn-primary" routerLink="services">Hire ME</a>
                <h1 class="sample mx-auto my-0 text-uppercase ">Sample </h1>
            </div>
        </div>
    </div>
  

</header>

<!-- services -->

<h1 class = "servicesheader  ">My Services</h1>

<div class="services">

      <div class="card-group">
        <div class="card">
          <div class="iamge"tyle="height:65px">
          <img src="https://img.freepik.com/premium-vector/young-programmer-code-client-projects-developer-writing-program-code-flat-vector_530733-1137.jpg?w=740" class="card-img-top" alt="...">
        </div>
          <div class="card-body">
            <h5 class="servicehead card-title text-primary">Full Stack Development</h5>
            <p class="card-text">Expertise in MEAN Full Stack Web developement</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <div class="iamge" >
          <img src="https://www.pngitem.com/pimgs/m/299-2994667_blockchain-development-icon-png-transparent-png.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="servicehead card-title text-primary">Block Chain Development</h5>
            <p class="card-text">Ethereum,Solidity,Ganache and much more...</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <div class="iamge">
          <img src="https://media.istockphoto.com/vectors/energy-audit-rgb-color-icon-vector-id1329485199" class="card-img-top" alt="...">
        </div>
          <div class="card-body">
            <h5 class="servicehead card-title text-primary">Energy Audit</h5>
            <p class="card-text">BEEE certified Energy Auditor</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
</div>

<!-- testimony -->

<h1 class = "Testimonyheader  " >Testimonials</h1>
 
  <!--Carousel wrapper -->

  <div class="bgd" style="background-color:rgb(97, 54, 54);color:aliceblue">

    <div class="slide" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
        <br>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">

                <div class="icon"><i class="fa-solid fa-users"></i></div> <br><br>
                <h3><b>"</b>Expertise is evident in fullstack developement.Delivery on time with quality product 
                  <b>"</b></h3>
                <br><br>
                <h4>---- Nadira P T ----</h4>

                <img class="rounded-circle shadow-1-strong mb-4"
                src="https://st3.depositphotos.com/8810948/18588/i/1600/depositphotos_185888756-stock-photo-gladden-customer-walking-with-close.jpg" alt="avatar"
                style="width: 150px; height: 150px;" />

              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <div class="icon"><i class="fa-solid fa-user-pen"></i></div> <br><br>
                <h3><b>"</b>Services are Excellent!Delivered to customer satisfaction<b>"</b></h3>
                <br><br>
                <h4>---- Ananth----</h4>

                <img class="rounded-circle shadow-1-strong mb-4"
                src="https://cdn.pixabay.com/photo/2014/07/09/10/04/man-388104_960_720.jpg" alt="avatar"
                style="width: 150px; height: 150px;" />
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <div class="icon"><i class="fa-solid fa-user-tie"></i></div> <br><br>
                <h3><b>"</b>Authorised auditing services with prcision<b>"</b></h3>
                <br><br>
                <h4>---- Nesla ----</h4>

                <img class="rounded-circle shadow-1-strong mb-4"
                src="https://t4.ftcdn.net/jpg/03/83/25/83/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg" alt="avatar"
                style="width: 150px; height: 150px;" />
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

      </div>

</div>